@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Josefin+Slab:ital,wght@0,300;1,300&display=swap');
#page-title{
    font-family: "Josefin Slab";
    font-weight: 300;
    font-size: 40px;
}
p{
    font-family: "Montserrat";
    font-size: 12px;
}